.content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100px;
    flex-grow: 1;
    gap: 90px;
    
    
    
    

}


#section3{
    display: flex;

}

.hello{
    display: block;
}
.sec1{
    padding: 20px;    
    
}
.cont5{
    
    width: 1296px;
}
@media (max-width: 694px){
    .cont5 {
        max-width: 516px;
    }
    }
@media (max-width: 542px){
        .cont5 {
            max-width: 435px;
     }
 }
 @media (min-width: 50px) and (max-width: 542) {
    .cont5 {
        max-width: 40px;
 }
    
 }  
.profile{
    
    border-radius: 100%;
    
}
.col-lg-6{
    margin-left: px;

}
.img{
    flex-shrink: 1;
    
}
@media (max-width:600px){
    .profile{
        width: 400px;
    }
}
.container{
    padding: 15px;
}
body{
    background-image: url(./cubes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.svg{
    padding: 10px;
}
.contact{
    border-radius: 100px;
}
.foot{
    border-radius: 10px;
}

.fut{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.fut:hover{
    color: #FF5733;
    text-decoration: underline;

}

.nav-pills .nav-item a {
    color: #2C80FD; 
    text-decoration: none; 
    transition: color 0.3s; 
}


.nav-pills .nav-item a:hover {
    color: black; 
    text-decoration:underline; 
}

@keyframes slideinleft {
    from{
        transform: translateX(500px);

    }
    to{
        transform: translateX(0);

    }
    
}

.slideinleft{
    animation-name: slideinleft;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in;
    animation-direction: normal;

}