.gradient-background {
  height: 550px;
  display: flex;
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
.gradient-background img{
  margin-left: 100px;
  padding-top: 5px;
}

.gradient-backgroundd {
  height: 350px;
  display: flex;
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#testimonial h1{
  font-size: 33px;
}
#testimonial .dogg{
  border-radius: 100px;
  height: 100px;
}
.row .logo  {
  height: 40px;
  width: 200px;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
